<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Jack Guinane</title>
        <meta name="author" content="Jack Guinane" />
        <link href="assets/css/style.css" rel="stylesheet" type="text/css">
        <link rel="icon" href="assets/img/favicon.png" type="image/png" />
        <link id="favicon" rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
    </head>
